<h1>Pedido</h1>
<%= link_to  "Nuevo pedido", new_order_path %>
<%= link_to  "Atras", root_path %>
<% @orders.each do |order| %>
<p>Pedido: <%= link_to  order.room, order_path(order) %></p>
<p>Mesa: <%= order.table %></p>
<%= link_to  "Editar", edit_order_path(order) %>
<%= link_to "Borrar", order_path(order), method: :delete, data:{confirm:"Are you sure?"}%>
<% end %>
