<%=form_with model: @dish, local: true do |form| %>
  <div class = "form-erros">
    <% if @dish.errors.any? %>
    <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :ingredient_id %>
    <%= form.collection_select :ingredient_id, Ingredient.all, :id, :name, { selected: @ingredient_id, include_hidden: false }, {:multiple => true} %>
  </div>

  <div>
    <%= link_to  "Nuevo ingrediente", new_ingredient_path %>
  </div>

  <div>
    <%= form. submit %> 
  </div>
<% end %>